<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>.c1{
	color :red;
    }</style>


</head>
<body>
<h1 class="c1">用户登录</h1>
      <form method="post" action="/login">
          <div class="c1">
              用户名：<input type="text" name ="username"/>
          </div>
          <div>
              密码：<input type="password" name = "password"/>
          </div>

          <input  type="submit" value="提交">
      </form>
</body>
</html>